html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3 {
  color: inherit;
  font-family: "Meta Book", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0 0 0.5em 0; }

.ssr-columns dt,
.ssr-columns dd, .ssr-column dt,
.ssr-column dd {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  font-size: 10px; }

body {
  color: #1e1e1c;
  font-family: Arial, sans-serif;
  font-size: 1.3rem; }
  @media (min-width: 740px) {
    body {
      font-size: 1.4rem; } }

.wrapper {
  margin: 1rem;
  width: auto; }
  @media (min-width: 740px) {
    .wrapper {
      margin: 1rem auto;
      width: 700px; } }
  @media (min-width: 980px) {
    .wrapper {
      margin: 2rem auto;
      width: 960px; } }

/* HELPER CLASSES */
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-green {
  color: #249446; }

.text-red {
  color: #bf0d3e; }

.text-blue {
  color: #1a589f; }

.text-brown {
  color: #f0b323; }

.text-orange {
  color: #e87722; }

.text-grey {
  color: #898d8d; }

/* === */
/* TYPOGRAPHY */
h1 {
  font-size: 3.0rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.8rem; }

p {
  line-height: 1.5em;
  margin-bottom: 1rem; }
  p a {
    color: #1a589f;
    text-decoration: none; }
    p a:hover {
      text-decoration: underline; }

/* === */
/* HEADINGS */
.kv-heading {
  border-bottom: solid 2px #1a589f;
  color: #898d8d;
  padding-bottom: 0.5rem; }
  @media (min-width: 740px) {
    .kv-heading {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      border-bottom: none;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-bottom: 0; }
      .kv-heading .text {
        flex-shrink: 1;
        padding-right: 1rem; }
      .kv-heading .line {
        background-color: #1a589f;
        flex-grow: 1;
        height: 2px;
        margin-top: 2px; } }

/* === */
.translate {
  color: #bf0d3e; }
  .translate.translated {
    color: #249446; }

/* SSR TABLE */
.ssr-table table {
  margin-bottom: 1.5rem;
  width: 100%; }

.ssr-table th,
.ssr-table td {
  line-height: 2rem;
  padding: 0.5rem 1rem 0.5rem 0; }

.ssr-table th {
  font-weight: 700;
  text-align: left;
  white-space: nowrap;
  width: 1%; }
  .ssr-table th:after {
    content: ":"; }

/* === */
.spellings {
  border-top: solid 1px #7da1c4;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  .spellings .spelling {
    border-bottom: solid 1px #7da1c4;
    -webkit-flex: auto;
    flex: auto; }

.toggle {
  display: none; }
  .open .toggle {
    display: block; }

.toggle-opened {
  display: inline-block; }
  .open .toggle-opened {
    display: none; }

.toggle-closed {
  display: none; }
  .open .toggle-closed {
    display: inline-block; }

.ssr-general .row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 740px) {
    .ssr-general .row {
      -webkit-flex-direction: row;
      flex-direction: row; } }
  .open .ssr-general .row {
    background-color: rgba(0, 0, 0, 0.05); }

.ssr-general .col {
  -webkit-flex: 1;
  flex: 1;
  line-height: 20px;
  padding: 0.2rem 0; }
  @media (min-width: 740px) {
    .ssr-general .col {
      padding: 1.5rem 0 1.5rem 1rem; } }
  .ssr-general .col.none {
    -webkit-flex: 0;
    flex: none; }
  .ssr-general .col.half {
    -webkit-flex: 0.5;
    flex: 0.5; }
  .ssr-general .col.double {
    -webkit-flex: 2;
    flex: 2; }

.ssr-general dl dt {
  font-size: 1.2rem;
  font-weight: 700; }

@media (min-width: 740px) {
  .ssr-general .names {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row; } }

.ssr-general .names .name:after {
  content: "\A0"; }

.ssr-general .names .name:empty {
  display: none; }

@media (min-width: 740px) {
  .ssr-general .names .name {
    -webkit-flex: none;
    flex: none; } }

.ssr-general .names .case {
  font-size: 1.2rem;
  order: 100; }
  .ssr-general .names .case:before {
    content: " ("; }
  .ssr-general .names .case:after {
    content: ")"; }
  @media (min-width: 740px) {
    .ssr-general .names .case {
      -webkit-flex: 1;
      flex: 1;
      text-align: right; }
      .ssr-general .names .case:before, .ssr-general .names .case:after {
        content: ""; } }

.ssr-general .fa {
  line-height: inherit; }

.ssr-general .fa-2x {
  margin-top: 1rem; }

.ssr-info {
  border-bottom: solid 1px #1a589f; }
  .ssr-info:last-child {
    border-bottom: none; }
  .ssr-info .heading {
    color: #1a589f;
    font-weight: 700;
    padding: 1rem 0.5rem;
    text-transform: uppercase; }
    .ssr-info .heading a {
      color: inherit;
      display: block;
      text-decoration: none; }
  .ssr-info .opened {
    display: none; }
  .ssr-info .closed {
    display: inline-block; }
  .ssr-info .body {
    display: none;
    padding: 0rem 0.5rem 1rem 0.5rem; }
  .ssr-info.open .body {
    display: block; }
  .ssr-info.open .opened {
    display: inline-block; }
  .ssr-info.open .closed {
    display: none; }

.ssr-shadow {
  padding: 1.5rem 0 1rem 0;
  position: relative; }
  @media (min-width: 740px) {
    .ssr-shadow {
      padding: 1.5rem 1rem 1rem 1rem; } }
  .ssr-shadow:before, .ssr-shadow:after {
    content: "";
    left: 0;
    position: absolute;
    width: 100%; }
  .ssr-shadow:before {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, transparent 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35) 0%, transparent 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0%, transparent 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    height: 1rem;
    top: 0; }
  .ssr-shadow:after {
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.35) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.35) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.35) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    bottom: 0;
    height: 0.5rem; }

.ssr-columns dl {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1; }
  @media (min-width: 740px) {
    .ssr-columns dl {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; } }

.ssr-columns dt {
  float: left;
  font-weight: 700;
  line-height: 2rem;
  width: 50%; }
  .ssr-columns dt:after {
    content: ":"; }

.ssr-columns dd {
  width: auto;
  overflow: hidden;
  float: none;
  margin-left: 50%;
  line-height: 2rem;
  word-wrap: break-word;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }
  .ssr-columns dd:after {
    content: "\A0"; }

.ssr-column dl {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1; }

.ssr-column dt {
  float: left;
  font-weight: 700;
  line-height: 2rem;
  width: 50%; }
  @media (min-width: 740px) {
    .ssr-column dt {
      width: 25%; } }
  .ssr-column dt:after {
    content: ":"; }

.ssr-column dd {
  width: auto;
  overflow: hidden;
  float: none;
  margin-left: 50%;
  line-height: 2rem;
  word-wrap: break-word;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }
  @media (min-width: 740px) {
    .ssr-column dd {
      margin-left: 25%; } }
  .ssr-column dd:after {
    content: "\A0"; }

.ssr-docs table {
  width: 100%; }

.ssr-docs tr {
  border-bottom: solid 1px #7da1c4; }

.ssr-docs tbody tr:last-child {
  border-bottom: none; }

.ssr-docs th,
.ssr-docs td {
  padding: 1rem 1rem 1rem 0; }

.ssr-docs th {
  font-weight: 700;
  text-align: left; }

/*# sourceMappingURL=faktaark.css.map */
