$size-tablet: 740px;
$size-desktop: 1120px;

$font-heading: 'Meta Book', Arial, sans-serif;

$color-blue: rgb(26,88,159);
$color-green: rgb(36,148,70);
$color-red: rgb(191,13,62);
$color-orange: rgb(232,119,34);
$color-yellow: rgb(240,179,35);
$color-purple: rgb(140,71,153);
$color-grey: rgb(137,141,141);
$color-cyan: rgb(125,161,196);
$color-black: rgb(30,30,28);

$color-blue-dark: rgb(40,51,98);
$color-blue-light: rgb(0,156,210);
$color-green-light: rgb(192,206,43);
$color-white: rgb(226,226,226);

$shadow-alpha: rgba(0,0,0,0.00);
$shadow-omega: rgba(0,0,0,0.35);

$status-diameter: 12px;