@import "reset";
@import "variables";
@import "mixins";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
html {
    font-size: 10px;
}
body {
    color: $color-black;
    font-family: Arial, sans-serif;
    font-size: 1.3rem;

    @media (min-width: $size-tablet) {
        font-size: 1.4rem;
    }
}

.wrapper {
    margin: 1rem;
    width: auto;

    @media (min-width: $size-tablet) {
        margin: 1rem auto;
        width: $size-tablet - 40px;
    }
    @media (min-width: 980px) {
        margin: 2rem auto;
        width: 960px;
    }
}

/* HELPER CLASSES */
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-green {
    color: $color-green;
}
.text-red {
    color: $color-red;
}
.text-blue {
    color:  $color-blue;
}
.text-brown {
    color: $color-yellow;
}
.text-orange {
    color: $color-orange;
}
.text-grey {
    color: $color-grey;
}
/* === */

/* TYPOGRAPHY */
h1 {
    @extend %h-tag;
    font-size: 3.0rem;
}
h2 {
    @extend %h-tag;
    font-size: 2.4rem;
}
h3 {
    @extend %h-tag;
    font-size: 1.8rem;
}
p {
    line-height: 1.5em;
    margin-bottom: 1rem;

    a {
        color: $color-blue;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
/* === */

/* HEADINGS */
.kv-heading {
    border-bottom: solid 2px $color-blue;
    color: $color-grey;
    padding-bottom: 0.5rem;
    
    @media (min-width: $size-tablet) {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-bottom: 0;

        .text {
            flex-shrink: 1;
            padding-right: 1rem;
        }

        .line {
            background-color: $color-blue;
            flex-grow: 1;
            height: 3px;
            margin-top: 2px;
        }
    }
}
/* === */

.translate {
    color: $color-red;

    &.translated {
        //color: inherit;
        color: $color-green;
    }
}





/* SSR TABLE */
.ssr-table {
    
    table {
        margin-bottom: 1.5rem;
        width: 100%;
    }

    th,
    td {
        line-height: 2rem;
        padding: 0.5rem 1rem 0.5rem 0;
    }

    th {
        font-weight: 700;
        text-align: left;
        white-space: nowrap;
        width: 1%;
        
        &:after {
            content: ":";
        }
    }
}
/* === */

.spellings {
    border-top: dashed 1px $color-cyan;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
	flex-direction: column;
    
    .spelling {
        border-bottom: dashed 1px $color-cyan;
        -webkit-flex: auto;
        flex: auto;
    }
}

.toggle {
    display: none;

    .open & {
        display: block;
    }
}

.ssr-general {

    .row {
        cursor: pointer;
        @include suffix(display, flex, webkit);
        @include prefix(flex-direction, row, webkit);
        @include prefix(user-select, none, moz webkit ms);

        &:hover {
            background-color: rgba(0,0,0,0.05);
        }
        .open & {
            background-color: rgba(0,0,0,0.2);
        }
    }
    
    .col {
        -webkit-flex: 1;
        flex: 1;
        line-height: 20px;
        padding: 1.5rem 1rem;
        
        &.none {
            -webkit-flex: 0;
            flex: 0;
        }
        &.half {
            -webkit-flex: 0.5;
            flex: 0.5;
        }
        &.double {
            -webkit-flex: 2;
            flex: 2;
        }
    }

    dl {
        dt {
            font-size: 1.2rem;
            font-weight: 700;
        }
    }

    .case {
        float: right;

        &:before {
            content: " (";
        }
        &:after {
            content: ")";
        }
    }

    .fa {
        margin-top: 0.5rem;
    }
}

.ssr-info {
    margin: 1.5rem 0 2rem 0;
}

.ssr-shadow {
    border-top: dashed 1px $color-cyan;
    padding: 1.5rem 1rem 1rem 1rem;
    position: relative;

    &:before,
    &:after {
        content: "";
        left: 0;
        position: absolute;
        width: 100%;
    }
    &:before {
        @include gradient($shadow-alpha, $shadow-omega);
        height: 1rem;
        top: 0;
    }
    &:after {
        @include gradient($shadow-omega, $shadow-alpha);
        bottom: 0;
        height: 0.5rem;
    }
}

.ssr-columns {
    
    dl {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    dt {
        float: left;
        font-weight: 700;
        line-height: 2rem;
        width: 50%;

        &:after {
            content: ":";
        }
    }

    dd {
        width: auto;
        overflow: hidden;
        float: none;
        margin-left: 50%;
        line-height: 2rem;
        word-wrap: break-word;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;

        &:after {
            content: "\A0";
        }
    }
}

.ssr-docs {
    table {
        width: 100%;
    }
    tr {
        border-bottom: solid 1px $color-cyan;
    }
    tbody tr:last-child {
        border-bottom: none;
    }
    th,
    td {
        padding: 1rem 1rem 1rem 0;
    }
    th {
        font-weight: 700;
        text-align: left;
    }
}